{%- style -%}
  .manjon-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
  }
  @media (min-width: 900px) {
    .manjon-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 10px;
    }
  }
  .manjon-container__information {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  @media (min-width: 900px) {
    .manjon-container__information {
      font-size: 24px;
    }
  }
  .manjon-container-subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
    line-height: 30px;
  }
  .manjon-container-title {
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
  }
  @media (min-width: 900px) {
    .manjon-container-title {
      font-size: 40px;
    }
  }
  .manjon-container-text {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: rgba(18, 18, 18, 0.7490196078);
  }
  .manjon-container__wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    margin: 24px 0;
  }
  @media (min-width: 768px) {
    .manjon-container__block {
      max-width: 296px;
    }
  }
  .manjon-container__block-title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
  }
  @media (min-width: 900px) {
    .manjon-container__block-title {
      font-size: 20px;
    }
  }
  .manjon-container__block-text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(18, 18, 18, 0.7490196078);
  }
  .manjon-container__picture {
    width: 100%;
    height: 100%;
  }
  .manjon-container__picture-img {
    width: 100%;
    height: 100%;
  }

  .btn {
    --btn-border-color: transparent;
    --btn-text-color: rgb(86, 86, 86);
    --btn-bg: transparent;
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;
    border: 1px solid var(--btn-border-color);
    background-color: var(--btn-bg);
    font-weight: 400;
    color: var(--btn-text-color);
  }
  .btn--primary {
    --btn-border-color: black;
    --btn-text-color: white;
    --btn-bg: black;
  }
  .btn--primary-outline {
    --btn-border-color: black;
    --btn-bg: white;
    --btn-text-color: black;
  }
  .btn--ghost {
    --btn-border-color: transparent;
    --btn-text-color: black;
    --btn-bg: transparent;
  }
{%- endstyle -%}
<section class="manjon-container">
  <article class="manjon-container__content">
    <!-- OPCIONAL -->
    <h4 class="manjon-container-subtitle">{{ section.settings.subtitle }}</h4>
    <!-- //OPCIONAL -->
    <div class="manjon-container__information">
      <h3 class="manjon-container-title">{{ section.settings.title }}</h3>
      <p class="manjon-container-text">
        {{ section.settings.text }}
      </p>
    </div>
    {% unless section.settings.blockElements == true %}
      <div class="manjon-container__wrapper">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'bloque' %}
              <div class="manjon-container__block">
                <!-- OPCIONAL -->
                <!-- ICON -->
                <!-- OPCIONAL -->
                <h3 class="manjon-container__block-title">
                  {{ block.settings.block_title }}
                </h3>
                <p class="manjon-container__block-text">
                  {{ block.settings.block_text }}
                </p>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    {% endunless %}

    {% unless section.settings.blockButtons %}
      <div class="manjon-container__wrapper">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'btn' %}
              <a class="{{block.settings.block_options}}" href="#">
                {{ block.settings.block_title }}
              </a>
          {% endcase %}
        {% endfor %}
      </div>
    {% endunless %}
  </article>
  <picture class="manjon-container__picture">
    <img
      class="manjon-container__picture-img"
      src="https://fiverr-res.cloudinary.com/image/upload/t_collaboration_hd,q_auto,f_auto/v1/secured-attachments/message/order_attachments/4ae87dcd28231da21fb524cac5069f07-1717529184180/Micellar%20Water6Y2A0079.jpg?__cld_token__=exp=1717623446~hmac=00f3014bfe2b72a35f9bf273be3734293152a281996a6d419d3882a35a92d33c"
      alt="Picture"
    >
  </picture>
</section>
{% schema %}
{
  "name": "Container",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Luxury"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Experience the Power of Luxurious Skincare with Lorelei's Highest Quality Ingredients"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "At Lorelei, we believe in using only the finest ingredients that truly benefit your skin, without any harmful effects. Our luxurious creams are carefully crafted to provide you with the ultimate skincare experience."
    },
    {
      "type": "checkbox",
      "id": "blockElements",
      "label": "Hidden Block Elements",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blockButtons",
      "label": "Hidden Block Buttons",
      "default": true
    }
  ],
  "blocks": [
    {
      "name": "block",
      "type": "bloque",
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "Block Title",
          "default": "Unmatched Quality"
        },
        {
          "type": "text",
          "id": "block_text",
          "label": "Block Text",
          "default": "Our creams are made with the highest quality ingredients, ensuring effective and safe skincare."
        }
      ]
    },
    {
      "name": "buttons",
      "type": "btn",
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "Block Title",
          "default": "Unmatched Quality"
        },
        {
          "type": "select",
          "id": "block_options",
          "label": "Type Button",
          "options": [
            {
              "label": "Primary",
              "value": "btn btn--primary"
            },
            {
              "label": "Primary Outline",
              "value": "btn btn--primary-outline"
            },
            {
              "label": "Ghost",
              "value": "btn btn--ghost"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Container"
    }
  ]
}
{% endschema %}
