<script type="text/javascript" defer>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.manjon-faqs').forEach((container) => {
      let items = container.querySelectorAll('.manjon-faqs__item');

      const removeClassFaqs = (items) => {
        items.forEach((item) => {
          item.classList.remove('manjon-faqs__item--expand');
        });
      };

      items.forEach((faq) => {
        faq.addEventListener('click', () => {
          faq.classList.toggle('manjon-faqs__item--expand');
        });
      });
    });
  });
</script>
{%- style -%}
  :root {
    --night-out: #000000;
    --off-white: #fafcfb;
    --lil-gray: #e6eaed;
    --nude: #eae9e8;
    --gray: #cacabe;
    --blue: #818f96;
    --sky: #cce6ed;
  }

  * {
    box-sizing: border-box;
  }
  .btn {
    --btn-border-color: transparent;
    --btn-text-color: rgb(86, 86, 86);
    --btn-bg: transparent;
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;
    border: 1px solid var(--btn-border-color);
    background-color: var(--btn-bg);
    font-weight: 400;
    color: var(--btn-text-color);
    transition: ease-in-out 0.25s;
  }
  .btn--primary {
    --btn-border-color: #818f96;
    --btn-text-color: white;
    --btn-bg: #818f96;
  }
  .btn--primary:hover {
    --btn-border-color: #cacabe;
    --btn-bg: #cacabe;
    --btn-text-color: #fafcfb;
  }
  .btn--primary-outline {
    --btn-border-color: black;
    --btn-bg: white;
    --btn-text-color: black;
  }
  .btn--primary-outline:hover {
    --btn-border-color: #cacabe;
    --btn-bg: transparent;
    --btn-text-color: #cacabe;
  }
  .btn--ghost {
    --btn-border-color: transparent;
    --btn-text-color: black;
    --btn-bg: transparent;
  }
  .btn--ghost:hover {
    --btn-text-color: #cacabe;
  }
  .manjon-faqs {
    max-width: 600px;
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    display: grid;
    gap: 48px;
    margin: 0 auto;
    padding: 1rem;
  }
  .manjon-faqs-title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
  }
  .manjon-faqs-text {
    font-weight: bold;
    font-size: 1rem;
    line-height: 150%;
    color: #000000;
    margin-bottom: 0;
  }
  .manjon-faqs__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .manjon-faqs__item__box {
    width: 100%;
    border: 1px solid var(--night-out);
    padding: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  .manjon-faqs__item-title {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    line-height: 150%;
    color: var(--night-out);
  }
  .manjon-faqs__item__content {
    padding: 0;
    border: 1px solid var(--night-out);
    border-top: none;
    animation-name: collapseAnimation;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
  }
  .manjon-faqs__item__content > * {
    margin: 0;
    opacity: 0;
    transition: opacity ease-in-out 1s;
  }
  .manjon-faqs__item--expand .manjon-faqs__item__content {
    animation-name: expandAnimation;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
  }
  .manjon-faqs__item--expand .manjon-faqs__item__content > * {
    opacity: 1;
  }
  .manjon-faqs__cta-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .manjon-faqs__cta-contact-title {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    line-height: 150%;
    color: var(--night-out);
  }
  @media (min-width: 900px) {
    .manjon-faqs__cta-contact-title {
      font-size: 32px;
      line-height: 130%;
    }
  }
  .manjon-faqs__cta-contact-text {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--night-out);
  }
  @media (min-width: 900px) {
    .manjon-faqs__cta-contact-text {
      font-size: 18px;
      line-height: 150%;
    }
  }
  .manjon-faqs__cta-contact-btn {
    width: -moz-fit-content;
    width: fit-content;
  }

  @keyframes collapseAnimation {
    0% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      opacity: 1;
      height: auto;
      padding: 1rem;
    }
    100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      opacity: 0;
      height: 0;
    }
  }
  @keyframes expandAnimation {
    0% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      opacity: 0;
      height: 0;
    }
    100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      opacity: 1;
      height: auto;
      padding: 1rem;
    }
  }
{%- endstyle -%}
<div class="manjon-faqs">
  <div class="manjon-faqs__content">
    <h3 class="manjon-faqs-title">{{ section.settings.title }}</h3>
    <p class="manjon-faqs-text">{{ section.settings.text }}</p>
  </div>
  <div class="manjon-faqs__wrapper">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'faqs' %}
          <div class="manjon-faqs__item">
            <button class="manjon-faqs__item__box">
              <h3 class="manjon-faqs__item-title">
                {{ block.settings.block_title }}
              </h3>
              <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M19.3336 9.15629V9.82289C19.3336 10.1911 19.0352 10.4896 18.667 10.4896H11.0003V18.1563C11.0003 18.5244 10.7018 18.8229 10.3336 18.8229H9.66702C9.29882 18.8229 9.00032 18.5244 9.00032 18.1563V10.4896H1.33366C0.965473 10.4896 0.666992 10.1911 0.666992 9.82289V9.15629C0.666992 8.78809 0.965473 8.48959 1.33366 8.48959H9.00032V0.82291C9.00032 0.45472 9.29882 0.15625 9.66702 0.15625H10.3336C10.7018 0.15625 11.0003 0.45472 11.0003 0.82291V8.48959H18.667C19.0352 8.48959 19.3336 8.78809 19.3336 9.15629Z"
                    fill="#000" />
              </svg>
            </button>
            <div class="manjon-faqs__item__content">
              <p>
                {{ block.settings.block_text }}
              </p>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
  {% if section.settings.show_cta == true %}
    <div class="manjon-faqs__cta-contact">
      <h3 class="manjon-faqs__cta-contact-title">
        {{ section.settings.cta_title }}
      </h3>
      <p class="manjon-faqs__cta-contact-text">
        {{ section.settings.cta_text }}
      </p>
      <a
        href="{{ section.settings.block_page.url }}"
        class="manjon-faqs__cta-contact-btn {{ section.settings.block_options }}"
      >
        {{- section.settings.block_page.title | upcase -}}
      </a>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "UI faqs",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Experience the Power of Luxurious Skincare with Lorelei's Highest Quality Ingredients"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "At Lorelei, we believe in using only the finest ingredients that truly benefit your skin, without any harmful effects. Our luxurious creams are carefully crafted to provide you with the ultimate skincare experience."
    },
    {
      "type": "checkbox",
      "id": "show_cta",
      "label": "Show content cta",
      "default": false
    },
    {
      "type": "text",
      "id": "cta_title",
      "label": "CTA Title",
      "default": "Still have questions?"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text",
      "default": "Contact us for more information."
    },
    {
      "type": "page",
      "id": "block_page",
      "label": "Block Page"
    },
    {
      "type": "select",
      "id": "block_options",
      "label": "Type Button",
      "options": [
        {
          "label": "Primary",
          "value": "btn btn--primary"
        },
        {
          "label": "Primary Outline",
          "value": "btn btn--primary-outline"
        },
        {
          "label": "Ghost",
          "value": "btn btn--ghost"
        }
      ]
    }
  ],
  "blocks": [
    {
      "name": "item",
      "type": "faqs",
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "Block Title",
          "default": "Unmatched Quality"
        },
        {
          "type": "text",
          "id": "block_text",
          "label": "Block Text",
          "default": "Unmatched Quality"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "UI faqs"
    }
  ]
}
{% endschema %}
